*{
    box-sizing: border-box;
}
.emp-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.emp-cards{
    flex : 50%;
}
.empcard{
    background: linear-gradient(to bottom, #f9d0a5,#fbdfc3,#fdefe1);
    padding: 35px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.empcard h2{
    text-align: center;
}

.empcard img{
    border-radius: 50%; 
}

@media (min-width: 800px) {
    .emp-cards {
        flex: 50%;
    }
}

@media (max-width: 800px) {
    .emp-cards, .empcard {
        flex: 100%;
    }
}